<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Bache (CI works!!!!)
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="center">
    <button class="btn" (click)="reportCrowd()" style="display: inline-block">
      <fa-icon [icon]="faMapMarker" class="fa"></fa-icon>
    </button>
  </div>
  <div class="pothole-label">
    MOLOTE AQUÍ
  </div>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showMap()">
      <ion-icon name="map"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
